.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
.form-label {
    font-weight: bold;
}
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

/* .select-kelompok {
    width: 340px;
} */

#membersList {
    overflow: hidden;
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.notification {
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 16px;
}

.notification.alert-success {
    background-color: #28a745;
    color: white;
}

.notification.alert-danger {
    background-color: #dc3545;
    color: white;
}